<form [formGroup]="formGroup">
    <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="name">
        
    </mat-form-field>

    <div ngxErrors="name">
        <span ngxError="required" class="validation-error">Nome é obrigatório</span>
    </div>

    <mat-form-field class="full-width">
        <input matInput placeholder="Telefone" formControlName="phone">
    </mat-form-field>

    <div ngxErrors="phone">
        <span ngxError="required" class="validation-error">Telefone é obrigatório</span>
    </div>

    <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <div ngxErrors="email">
        <span ngxError="required" class="validation-error">Email  é obrigatório</span>
        <span ngxError="email" class="validation-error">Email está inválido</span>
    </div>

</form>
