<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form [formGroup]="formGroup">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>

        <div ngxErrors="email">
          <span ngxError="required" class="validation-error">Email é obrigatório</span>
          <span ngxError="email" class="validation-error">Email está inválido</span>
        </div>

        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Senha" formControlName="password">
        </mat-form-field>

        <div ngxErrors="password">
          <span ngxError="required" class="validation-error">Senha é obrigatória</span>
        </div>

        <p>Não tem uma conta? <a routerLink="/register">Crie aqui!</a></p>

        <button mat-raised-button color="primary" [disabled]="formGroup.invalid" (click)="login()" class="btn-block">Log in</button>
      </mat-card-content>
    </form>
  </mat-card>
</div>